<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive=true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive=true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive=true">Copper</button> <br>
   <div (mouseout)="frustrationInactive=false">
      <button [class.frustration]="!frustrationInactive" [disabled]="frustrationInactive" (mouseover)="frustrationInactive=true">Frustration Incarnate</button> <br>
   </div>
   <div [align]="location">
      <button (mouseover)="changeLocation(location)">Catch Me!</button>
   </div><hr>
   <button (click)="goldInactive = false; silverInactive = false; copperInactive = false">Reactivate Buttons</button>
</div>